@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-cormorant: var(--font-cormorant-garamond);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #fff !important;
  color: var(--foreground);
  font-family: var(--font-cormorant-garamond), "Cormorant Garamond", serif;
  font-weight: 400;
  line-height: 1.6;
}

* {
  font-family: inherit;
}
